<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.USE_SIP" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_PHONE_CALL" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MANAGE_OWN_CALLS" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

    <application
        android:name=".app.WuyeApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WuyeApp"
        android:usesCleartextTraffic="true"
        tools:targetApi="31"
        tools:ignore="ExtraText">

        <activity
            android:name=".ui.auth.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.auth.LoginActivity"
            android:exported="false">
        </activity>

        <activity
            android:name=".ui.home.MainActivity"
            android:exported="true">
        </activity>

        <activity
            android:name=".ui.profile.ProfileActivity"
            android:exported="false"/>

        <activity
            android:name=".ui.visitor.DialPadActivity"
            android:exported="false" />

        <activity
            android:name=".ui.visitor.InviteVisitorActivity"
            android:exported="false"/>
        
        <activity
            android:name=".ui.visitor.ScanQrActivity"
            android:exported="false"/>

        <activity
            android:name=".ui.home.MoreActivity"
            android:exported="false"/>
            
        <activity
            android:name=".ui.profile.SettingsActivity"
            android:exported="false"/>
            
        <activity
            android:name=".ui.profile.PersonalInfoActivity"
            android:exported="false"/>
            
        <activity
            android:name=".ui.profile.FaceRecordActivity"
            android:exported="false"/>

        <activity
            android:name=".ui.maintenance.MaintenanceActivity"
            android:exported="true">
        </activity>

        <activity 
            android:name=".ui.maintenance.MaintenanceListActivity" 
            android:exported="true">
        </activity>

        <activity 
            android:name=".ui.maintenance.PublicFacilitiesRepairActivity"
            android:exported="true">
        </activity>

        <activity 
            android:name=".ui.maintenance.PersonalResidenceRepairActivity"
            android:exported="true">
        </activity>
        
        <activity
            android:name=".ui.settings.SipSettingsActivity"
            android:exported="false"
            android:label="SIP设置" />
        
        <service
            android:name=".sip.LinphoneService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="microphone|phoneCall" />

        <activity
            android:name=".ui.call.CallActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <receiver
            android:name=".sip.SipCallReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="INCOMING_CALL" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
